<h1>Your All Tasks</h1>
<%= form_tag(search_path, method: :get) do %>
  <%= text_field_tag :search, "", placeholder:'Search for Tasks by title' %>
  <select name="task[status]" id="task_status">
    <option selected="selected" value="0">--</option>
    <option value="1">Waiting</option>
    <option value="2">In Progress</option>
    <option value="3">Completed</option>
  </select>
  <%= submit_tag 'Search', name: nil %>
<% end %>
<%= link_to 'Create a New Task', new_task_path %>
<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Title</th>
      <th>Task detail</th>
      <th>
        Due date
        <% if params[:sort] == 'true' %>
          <%= link_to '[-]', tasks_path %>
        <% elsif params[:task].present? %>
        <% else %>
          <%= link_to '[▼]', tasks_path(sort: 'true') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><% if task.status == 1 %>
              Waiting
            <% elsif task.status == 2 %>
              In Progress
            <% elsif task.status == 3 %>
              Completed
            <% else %>
              --
            <% end %>
        </td>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.due_date %></td>
        <td><%= link_to 'Show', task_path(task) %> |
            <%= link_to 'Edit', edit_task_path(task) %> |
            <%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: %(Are you sure?)} %>
        </td>
        <% end %>
      </tr>
  </tbody>
</table>
<%= link_to 'Create a New Task', new_task_path %>
<%= link_to 'Back', tasks_path if  @path.include? 'search' %>
