<h1>Your All Tasks</h1>
<%= link_to 'Create a New Task', new_task_path %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Task detail</th>
      <th>
        Due date
        <% if @path.include? 'sort=ture' %>
          <%= link_to '[-]', tasks_path %>
        <% else %>
          <%= link_to '[▼]', tasks_path(sort: 'true') %>
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.due_date %></td>
        <td><%= link_to 'Show', task_path(task) %> |
            <%= link_to 'Edit', edit_task_path(task) %> |
            <%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: %(Are you sure?)} %>
        </td>
        <% end %>
      </tr>
  </tbody>
</table>
<%= link_to 'Create a New Task', new_task_path %>
