<% @tasks.each do |task| %>
  <ul>
    <li>
      <%= task.title %>
      <%= task.content %>
      <%= link_to 'Show', task_path(task) %> |
      <%= link_to 'Edit', edit_task_path(task) %> |
      <%= link_to 'Delete', task_path(task), method: :delete, data: { confirm: %(Are you sure?)} %>
    </li>
  </ul>
<% end %>
