<!DOCTYPE html>
<html>
  <head>
    <title>Manyo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <header class="app_header">
        <h2 id="app_name">YTM</h2>
        <nav class="menu">
          <ul class="row">
            <% if logged_in? %>
              <li class="col-sm-3"><%= link_to "Tasks index", tasks_path %></li>
              <li class="col-sm-3"><%= link_to "Create", new_task_path %></li>
              <li class="col-sm-3"><%= link_to "Your Profile", user_path(current_user.id) %></li>
              <li class="col-sm-3"><%= link_to "Logout", session_path(current_user.id), method: :delete %></li>
            <% else %>
              <li class="col-sm-6"><%= link_to "Sign up", new_user_path %></li>
              <li class="col-sm-6"><%= link_to "Login", new_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </header>
    </div>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <%= yield %>
  </body>
</html>
