<!DOCTYPE html>
<html>
  <head>
    <title>Manyo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <header class="app_header">
        <h2 id="app_name">YTM</h2>
        <nav class="menu">
          <ul class="row">
            <li class="col-sm-3"><%= link_to "Tasks index", tasks_path %></li>
            <li class="col-sm-3"><%= link_to "Create", new_task_path %></li>
            <li class="col-sm-3"><%= link_to "Under Construction" %></li>
            <li class="col-sm-3"><%= link_to "Under Construction" %></li>
          </ul>
        </nav>
      </header>
    </div>
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
